/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: handwriting-1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@font-face {
  font-family: 'Handwriting-1';
  src: local('Handwriting-1'),
    url(./fonts/Handwriting-1.ttf) format('truetype');
}

@font-face {
  font-family: 'Handwriting-2';
  src: local('Handwriting-2'),
    url(./fonts/Handwriting-2.ttf) format('truetype');
}

:root {
  --black: #121212;
  --white: #F4F3EE;
  font-family: Handwriting-1;


  --blue-0: url('./components/title/blue-0.png');
  --blue-1: url('./components/title/blue-1.png');
  --blue-2: url('./components/title/blue-2.png');
  --blue-3: url('./components/title/blue-3.png');


}

body {
  padding: 0;
  margin: 0;

  background-color: var(--white);
  color: var(--black);
  font-family: Handwriting-1;



  /* background-color: #121212;
  color: #F4F3EE; */
}


/* using this to preload images */
body::after {
  content: var(--blue-0) var(--blue-1) var(--blue-2) var(--blue-3);
  width: 0;
  height: 0;
  position: absolute;
  overflow: hidden;

}

/* html,
body {
  overflow-y: hidden;
  width: 100%;
  height: 100%;
} */