@font-face {
  font-family: 'Handwriting-1';
  src: local('Handwriting-1'),
    url(./fonts/Handwriting-1.ttf) format('truetype');
}

@font-face {
  font-family: 'Handwriting-2';
  src: local('Handwriting-2'),
    url(./fonts/Handwriting-2.ttf) format('truetype');
}

:root {
  --black: #121212;
  --white: #F4F3EE;
  font-family: Handwriting-1;


  --blue-0: url('./components/title/blue-0.png');
  --blue-1: url('./components/title/blue-1.png');
  --blue-2: url('./components/title/blue-2.png');
  --blue-3: url('./components/title/blue-3.png');

  --red-0: url('./components/wiggle-button/background-images/red-0.png');
  --red-1: url('./components/wiggle-button/background-images/red-1.png');
  --red-2: url('./components/wiggle-button/background-images/red-2.png');
  --red-3: url('./components/wiggle-button/background-images/red-3.png')
}

body {
  padding: 0;
  margin: 0;

  background-color: var(--white);
  color: var(--black);
  font-family: Handwriting-1;
}

body::after {
  content:
    var(--blue-0) var(--blue-1) var(--blue-2) var(--blue-3) var(--red-0) var(--red-1) var(--red-2) var(--red-3);
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
}

button {
  border: none;
  outline: none;
  background-color: transparent;

}

button:hover {
  cursor: pointer;
}